@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

:root { color-scheme: light; }

body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
